@font-face {
    font-family: 'OsVet';
    src: url(OstrichSansInline-Regular.otf);
}

@font-face {
    font-family: 'Os';
    src: url(OstrichSans-Medium.otf);
}

@font-face {
    font-family: 'OsLicht';
    src: url(OstrichSans-Light.otf);
}

@font-face {
    font-family: 'OsVet2';
    src: url(OstrichSans-Bold.otf);
}
@font-face {
    font-family: 'Agency';
    src: url(Agency_FB.ttf);
}

body {
  background-color: #FFF9F6;
  height:100vh;
  min-height: 700px;
  overflow: hidden;
}

#achBalk {
  background-color: #FFE1CA;
  width: 55%;
  height: 61.75vh;
  position: absolute;
  right: 9vw;
  top: 25vh;
  -webkit-animation-name: slideL;
  -webkit-animation-duration: 1s;
  animation-name: slideL;
  animation-duration: 1s;
  }
  @-webkit-keyframes slideL {
    0%   {width:0%; opacity:0;}
    100% {width:55%; opacity:1;}
  }

  p {
    font-family: "Agency";
    font-size: 1.8vw;
      color: #C3AB99;
  }

  #bio {
    width: 38vw;
    position: absolute;
    right: 14vw;
    top: 39vh;
    text-align: center;
    line-height: 2.5vw;
    opacity: .6;
    -webkit-animation-name: slideU;
      -webkit-animation-duration: 1s;
      animation-name: slideU;
      animation-duration: 1s;
  }

  @-webkit-keyframes slideU {
      0%   {right:14vw; top:105vh; opacity:0;}
      100% {right:14vw; top:39vh; opacity:.6;}
  }

  #qt{
    width: 38vw;
    position: absolute;
    right: 14vw;
    top: 68vh;
    opacity: .8;
    display: grid;
    grid-template-columns:31% 9% 20% 31% 9%;
    grid-template-rows: 100%;
    -webkit-animation-name: slideU2;
      -webkit-animation-duration: 1s;
      animation-name: slideU2;
      animation-duration: 1s;
  }

  @-webkit-keyframes slideU2 {
      0%   {right:14vw; top:135vh; opacity:0;}
      100% {right:14vw; top:68vh; opacity:.8;}
  }

  #links1 {
    grid-column: 1;
  }

  #rechts1 {
    grid-column: 2;
  }

  #links2 {
    grid-column: 4;
  }

  #rechts2 {
    grid-column: 5;
  }

#para1 {
	width: 35%;
	height: 45vh;
  min-height: 0px;
	-webkit-transform: skew(0deg,2deg);
	   -moz-transform: skew(0deg,2deg);
	     -o-transform: skew(0deg,2deg);
	background-color: #FFE1CA;
  position: absolute;
  top: 33vh;
  left: 8vw;
  overflow: hidden;
  -webkit-animation-name: slideR;
    -webkit-animation-duration: 1s;
    animation-name: slideR;
    animation-duration: 1s;
}
@-webkit-keyframes slideR {
    0%   {left:-5vw; top:33vh; opacity:0;}
    100% {left:8vw; top:33vh; opacity:1;}
}

#para1 img {
  -webkit-transform: skew(0deg,-2deg);
     -moz-transform: skew(0deg,-2deg);
       -o-transform: skew(0deg,-2deg);
       position: absolute;
       width: 100%;
       left: 0%;
       top: -3vh;
       opacity: .5;
}

h2 {
  font-family: "OsVet2";
  position: absolute;
  top: 29vh;
  left: 62vw;
  font-size: 3vw;
  color: #C3AB99;
  -webkit-animation-name: slideB2;
    -webkit-animation-duration: 1s;
    animation-name: slideB2;
    animation-duration: 1s;
}
@-webkit-keyframes slideB2 {
    0%   {left:105vw; top:29vh; opacity:0;}
    100% {left:62vw; top:29vh; opacity:1;}
}
ul {
  position: absolute;
  top: 8vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  -webkit-animation-name: slideT;
    -webkit-animation-duration: 1s;
    animation-name: slideT;
    animation-duration: 1s;
}
@-webkit-keyframes slideT {
    0%   {left:50vw; top:-10vh; opacity:0;}
    100% {left:50vw; top:8vh; opacity:1;}
}
li {
  display: inline-block;
  font-family: "Os";
  font-size: 7.63vh;
}
#about {
  margin-left: 3%;
  margin-right: 3%;
}
a {
  text-decoration: none;
  color: #C3AB99;
  opacity: .6;
}







@media only screen and (max-width: 1100px) {
  #para1 {
    height: 37vh;
  }
  #para1 img {
    height: 120%;
    width: auto;
  }
  p {
    font-size: 2.1vw;
  }
  #qt {
    grid-template-columns:31% 9% 16% 35% 9%;
    top:62vh;
    line-height: 2.5vw;
  }
  @-webkit-keyframes slideU2 {
      0%   {right:14vw; top:135vh; opacity:0;}
      100% {right:14vw; top:62vh; opacity:1;}
  }
  #achBalk {
      height: 53vh;
  }
  li {
    font-size: 6vh;
  }
}


@media only screen and (max-width: 900px) {
  #qt {
    display: none;
  }
  #para1 {
    transform: translate(-50%, -50%) skew(0deg,2deg);
    left: 50vw;
    height: 30vh;
    width: 45vw;
  }
  @-webkit-keyframes slideR {
      0%   {left:-5vw; top:33vh; opacity:0;}
      100% {left:50vw; top:33vh; opacity:1;}
  }
   #para1 img {
     height: auto;
     width: 105%;
     left: -2%;
     top: -5vh;
   }
   #achBalk {
     transform: translate(-50%, -50%);
     left: 50vw;
     top: 60vh;
     height: 65vh;
     width: 70%;
   }
   @-webkit-keyframes slideL {
     0%   {width:0%; opacity:0;}
     100% {width:70%; opacity:1;}
   }
   #bio {
     transform: translate(-50%, -50%);
     left: 50vw;
     top: 76vh;
     font-size: 4vw;
     line-height: 4vw;
     width: 60vw;
   }
   @-webkit-keyframes slideU {
       0%   {left:50vw; top:105vh; opacity:0;}
       100% {left:50vw; top:76vh; opacity:.6;}
   }
   h2 {
     transform: translate(-50%, -50%);
     left: 50vw;
     font-size: 5vw;
     top:55vh;
   }
   @-webkit-keyframes slideB2 {
       0%   {left:105vw; top:55vh; opacity:0;}
       100% {left:50vw; top:55vh; opacity:1;}
   }
}
@media only screen and (max-width: 500px) {
  h2 {
    top: 45vh;
    font-size: 7vw;
  }
  @-webkit-keyframes slideB2 {
      0%   {left:105vw; top:45vh; opacity:0;}
      100% {left:50vw; top:45vh; opacity:1;}
  }
  #bio {
    top: 70vh;
    font-size: 6vw;
    line-height: 6.5vw;
  }
  @-webkit-keyframes slideU {
      0%   {left:50vw; top:105vh; opacity:0;}
      100% {left:50vw; top:70vh; opacity:.6;}
  }
  li {
    font-size: 4.5vh;
  }
  #para1 {
    top: 27vh;
    height: 25vh;
    width: 55vw;
  }
  @-webkit-keyframes slideR {
      0%   {left:-5vw; top:27vh; opacity:0;}
      100% {left:50vw; top:27vh; opacity:1;}
  }
	#bio {font-size: 3.5vw;}
  #para1 img {
    width: 120%;
    left: -5vw;
    top: -0.5vh
  }
}
